.signature {
  border: 1px solid #c4c4c4;
  margin-left: auto;
  margin-right: auto;
  width: calc(var(--text-block-width) + 4rem);
  border-radius: 4px;
  padding: 1em;

  overflow: auto;
  background-color: #ffffff;
}

.fragmentAnchor a {
  color: black;
}

.fragmentAnchor img {
  height: 14px;
  opacity: 0;
  margin-left: 4px;
  transition: opacity 0.2s;
}
.fragmentAnchor:hover img {
  opacity: 1;
}

.signature h3 {
  margin-top: 0;
}

code pre {
  padding: 1em;
  tab-size: 1em;
  overflow: auto;
  margin: 0;
}
code {
  font-size: 16px;

  box-sizing: border-box;
  display: block;

  border-radius: 5px;
  overflow: hidden;

  margin: 18px 0 18px 0;
}
code a {
  color: white;
}
code a:visited {
  color: white;
}

.exportType pre {
  margin: 0;
  tab-size: 1em;
}

.exportType {
  box-sizing: border-box;
  overflow: auto;
}

.typeFunctionArgument {
  margin-left: 1em;
}
.functionTypeArgumentsDescriptionList dt {
  font-weight: bold;
}
.functionTypeArgumentsDescriptionList dd {
  margin-left: 2em;
  margin-right: 2em;
}
.typeFunctionArgument.unary {
  margin-left: 0;
  display: inline;
}

code.documentation .identifier,
code.documentation .identifier a {
  color: var(--identifier_color, rgb(172, 199, 240));
}

code.documentation .keyword {
  color: var(--keyword_color, rgb(255, 122, 122));
}
code.documentation .literal {
  color: var(--literal_color, rgb(255, 167, 34));
}

code.documentation .name,
code.documentation .name a {
  color: var(--name_color, rgb(240, 191, 172));
}

code :global(.hljs-comment) {
  color: white;
}