.navigationColumn {
  width: 18em;
  margin-right: 1em;
  padding-right: 1em;
  overflow: auto;
  resize: horizontal;

  border-right: 1px solid black;
  box-shadow: 0 0 10px 0px #cecece;
}

.pageList {
  padding: 0;
  list-style: none;
  min-width: 18rem;
}

.pageList .pageList {
  margin: 0 0 0 14px;
  margin-left: 28px;
}

.pageListRow {
  transition: 0.1s background-color;
  
  position: relative;

  display: flex;
  flex-direction: row;
}
div.pageListRow > .pageEntry > a {
  padding-left: 20px;
}

.pageListRow:hover {
  background-color: var(--light-accent-color);
}

.pageEntry {
  width: 100%;
  display: flex;
}

.pageTag {
  padding: 2px;
  line-height: 22px;
  flex: 1;
}
.pageTag.selected {
  font-weight: bold;
}

.navigationColumnEntry {
  margin-left: var(--navigation-depth, 0px);
}


.visibilityToggle {
  background-image: url('../assets/visible_toggle_closed_black.svg');
  background-position: center;
  background-size: contain;

  height: 16px;
  width: 16px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 4px;
}
.visibilityToggle.open {
  background-image: url('../assets/visible_toggle_open_black.svg');
}

.visibilityToggle > input {
  display: none;
}