@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&family=Roboto:wght@100;300;400;700&display=swap');

.document {
  font-family: 'Roboto', sans-serif;
  max-width: 45em;
  font-size: 18px;

  line-height: 26px;
  margin: auto;
}

.document p {
  font-size: 18px;
  text-align: justify;
}

.document p,
.document h1,
.document h2 {
  font-family: inherit;
}

.document pre {
  font-family: 'Roboto Mono', monospace;
}

.document pre:global(.block) {
  border-radius: 5px;
  font-size: 16px;
  padding: 1em;
  background-color: #2b2b2b;
  color: white;

  white-space: pre-wrap;
  display: block;
  margin: 0 8px 0 8px;
}
.document pre:global(.inline) {
  display: inline;

  border-radius: 5px;
  font-size: 16px;
  padding: 0 8px 0 8px;
  background-color: #ffdfdf;
  color: black;
}

.document img {
  max-width: 100%;
}

.document blockquote {
  padding: 17px;
  background-color: #dfeeff;
  border-radius: 8px;
}

.document a {
  font-weight: bold;
}

.document li > p {
  margin: 0;
}