@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

nav.pageNavigation {
  font-family: 'Roboto', sans-serif;

  width: 20em;

  flex-shrink: 0;
  flex-grow: 0;
  overflow: auto;
}
nav.pageNavigation menu {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: right;
}
nav.pageNavigation li menu {
  padding-left: 16px;
}
nav.pageNavigation menu > li {
  position: relative;
  text-align: left;
}
nav.pageNavigation menu > li a {
  display: inline-block;
  position: relative;
  padding-right: 16px;
}
nav.pageNavigation menu > li div.background {
  display: block;
  left: 0;
  right: 100%;
  top: 0;
  bottom: 0;
  background-color: rgb(200, 200, 252);
  position: absolute;
  transition: right 0.2s, background-color 0.2s;
  z-index: -1;
}
nav.pageNavigation menu > li.selected > div.background {
  right: 0%;
  background-color: rgb(228, 178, 252);
}
nav.pageNavigation menu > li.selected > details > summary > div.background {
  right: 0%;
  background-color: rgb(228, 178, 252);
}
nav.pageNavigation menu summary:hover > div.background {
  right: 0%;
}
nav.pageNavigation menu li:hover > div.background {
  right: 0%;
}
nav.pageNavigation menu > li details > summary {
  position: relative;
  padding-left: 0em;
}
nav.pageNavigation menu > li > a {
  padding-left: 1em;
}

.selected {
  font-weight: bold;
  text-decoration: underline;
}
li > .selected {
  padding-left: 1em;
}