.tabbedToolbox {
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: rgb(244, 249, 255);
}
.tabbedToolbox > .content {
  padding: 16px;
  overflow: auto;
  height: 100%;
}

.tabbedToolbox > menu {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: rgb(128, 179, 238);
  display: flex;
  flex-direction: row;
}

.jsonEditor {
  display: flex;
  flex-direction: column;
}
.jsonEditor > textarea {
  padding: 8px;
  resize: vertical;
  min-height: max-content;
}