:root {
  --text-block-width: 44rem;
}


.markdownBlock > p {
  margin-left: auto;
  margin-right: auto;
  width: var(--text-block-width);
}

.markdownBlock > h1, .markdownBlock > h2, .markdownBlock > code {
  margin-left: auto;
  margin-right: auto;
  width: var(--text-block-width);
}
.markdownBlock > ul {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: var(--text-block-width);
}
.markdownBlock > ul > li {
  margin-left: 2em;
}

.markdownBlock > * {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: var(--text-block-width);
}

.markdownBlock > p > * {
  max-width: var(--text-block-width);
}

.markdownBlock > blockquote {
  margin-left: auto;
  margin-right: auto;
  width: calc(var(--text-block-width) + 4rem);
  padding: 1rem;
  border-radius: 16px;
  background-color: var(--secondary-color);
}

.markdownBlock > code {
  width: calc(var(--text-block-width) + 8rem);
}

.markdownBlock > blockquote > p pre {
  background-color: var(--light-accent-color);
  padding: 4px;
  border-radius: 8px;
  margin: 0;
}

.markdownBlock > p pre, .markdownBlock > ul pre {
  background-color: var(--secondary-color);
  padding: 4px;
  border-radius: 8px;
  margin: 0;
}

.heading {
  
}
.headingLink {
  display: flex;
  color: black;
}

.headingLinkIcon {
  height: 18px;
  width: 18px;
  margin: auto 8px auto 8px;
  display: inline-block;

  opacity: 0;
  transition: opacity 0.2s;
}

.heading:hover .headingLinkIcon {
  opacity: 1;
}

.markdownBlock > table {
  border-collapse: collapse;
}
.markdownBlock > table > tr:first-child {
  background-color: var(--accent-color);
  color: rgb(255, 255, 255);
  text-align: center;
}
.markdownBlock > table > tr > td {
  border: 1px solid black;
  padding: 8px;
}