.scrollingNumber {
  display: flex;
  flex-direction: row;
}

.scrollingDigitWindow {
  height: 20px;
  width: 20px;
  overflow: hidden;
}

.scrollingDigitContainer {
  
}

.scrollingDigitContainer div {
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scrollingNumberDemoContainer {
  width: 360px;
  height: 190px;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  background-color: #f7ebff;
}

.scrollingNumberDemoContainer input {
  width: 80%;
}

.flippingButtonDemo {
  perspective: 100px;;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.flippingButton {
  position: absolute;

  padding: 18px;
  border: 1px solid black;
  border-radius: 4px;

  min-width: 80px;
}

.slideShow {
  overflow: hidden;
  width: 360px;
  height: 190px;
}
.slideShowContainer {
  display: flex;
  flex-direction: row;
  width: calc(360px * 3)
}
.slide {
  box-sizing: border-box;
  min-width: 360px;
}
.slideContainer {
  margin: 14px;
  padding: 14px;
  border: 1px solid black;
  box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.288);
}