.elementBar {
  overflow: visible;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  width: max-content;
}

.elementName {
  font-family: monospace;
  display: inline;

  padding: 4px;
  border-radius: 8px;

  margin: 2px;

  border: 2px solid rgba(255, 255, 255, 0);
}
.elementName:hover {
  font-weight: bold;
  cursor: pointer;
  border: 2px solid white;
}

.commit {
  display: flex;
  flex-direction: column;
  overflow: visible;
  white-space: pre;
  width: max-content;
  flex: 1;
}

.elementBar.selected .elementName {
  font-weight: bold;
  text-decoration: underline;
}

.commitList {
  flex: 1;
  display: flex;
  flex-direction: column;
  list-style: none;
  overflow: visible;
  width: max-content;
  gap: 9px;
}
.commitList.top {
  margin: 0;
  padding: 0;

  overflow: auto;
}
