.controlBar {
  display: flex;
  flex-direction: row;

  background-color: rgb(236, 236, 236);
  border-bottom: 1px solid rgba(110, 110, 110, 0.473);
}

.toggle {
  display: flex;
  flex-direction: row;

  background: rgba(240, 240, 240, 0);
  border: none;
  border-radius: 4px;
  padding: 2px;
  margin: 4px;
  transition: background 0.1s, opacity 0.1s;
}
.toggle.off {
  opacity: 0.5;
}
.toggle:hover {
  opacity: 1;
  background: rgba(255, 255, 255, 0.466);
}
.toggle:disabled {
  opacity: 1;
  background: rgb(255, 255, 255);
}

.controlBar > .breakpointToggle {
  position: absolute;
  left: 0;

}

.controlBar > .inspectorToggle {
  position: absolute;
  right: 0;
}

.controlBar > .windowToggle {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.controlBar > .windowToggle > button {

}

.panel {
  width: 300px;
  flex: 0 0 300px;
  resize: horizontal;

  overflow: auto;

  display: flex;
  flex-direction: column;

  border-right: 1px solid rgba(110, 110, 110, 0.473);
}

.namedBreakpointList {
  display: flex;
  flex-direction: column;
}

.playbackBar {
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
}

.playbackBar > menu {
  margin: 0;

  padding: 4px;
  background-color: rgb(134, 78, 66);
  border-radius: 6px;

  gap: 4px;
  display: flex;
  flex-direction: row;
}
.breakLocation {
  position: absolute;
  bottom: -58px;

  color: white;
  background-color: rgb(200, 61, 29);
  padding: 4px;
  border-radius: 6px;

  white-space: nowrap;
  display: flex;
  flex-direction: row;
  gap: 8px;

  transform: translateX(-50%);
  left: 50%;
  align-items: center;
}

.playbackButton {
  background: white;
  border: none;
  border-radius: 4px;

  cursor: pointer;
  transition: transform 0.1s;
}

.playbackButton img {
  width: 24px;
  height: 24px;
}

.playbackButton:hover {
  transform: scale(1.1);
}
.playbackButton:active {
  transform: scale(0.9);
}

.commitRowBackground {
  position: absolute;
  height: 33px;
  background-color: #ffffff;
}

.commitRow:nth-child(odd) > .commitRowBackground {
  background-color: #f4f4f4;
}

.commitRow > img {
  position: absolute;
  height: 33px;
  width: 33px;
}

.commitRowPreviewContainer {
  height: 33px;
  position: relative;
  display: flex;
  align-items: center;
}

.commitRowControls {
  display: inline-flex;
  height: 33px;
}

.commitRowBreakpointToggle {
  border: none;
  padding: 0;
  margin: 0;
  background: none;

  cursor: pointer;
  transition: transform 0.1s, opacity 0.2s;
  opacity: 1;
}
.commitRowBreakpointToggle:hover {
  transform: scale(1.2);
  opacity: 1;
}

.commitRowBreakpointToggle > img {
  height: 22px;
}

.iconButton {
  border: 0;
  border-radius: 4px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0);
  cursor: pointer;
  padding: 4px;
}
.iconButton:hover {
  opacity: 1;
  border: 1px solid rgba(63, 63, 63, 0.295);
  background: rgb(243, 243, 243);
}
.iconButton:active {
  opacity: 1;
  border: 1px solid black;
}

.iconButton > img {
  height: 20px;
}

.commitControlBar {
  display: flex;
  flex-direction: row;

  margin: 0 auto;
  gap: 4px;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: rgb(231, 231, 231);
}

.commitRowCollapseButton {
  position: absolute;
  left: 0;
  transform: translateX(-100%);

  background: none;
}
.commitRowCollapseButton:hover {
  background: none;
}

.commitInspectorPreviewRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.commitInspector {
  display: flex;
  flex-direction: column;

  gap: 8px;
}

.commitTree {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.filterButton {
  position: absolute;

  right: 8px;
  top: 8px;
}
.filterPanel {
  position: absolute;
  top: 42px;
  right: 8px;

  padding: 8px;
  border-radius: 8px;

  background: rgb(235, 235, 238);
  backdrop-filter: blur(4px);

  display: flex;
  flex-direction: column;
}

.commitList {
  padding: 0;
  margin: 0;

  list-style: none;
}

.commitList > li {
  display: flex;
}